/old/*
/build/*
/bin/*
/doc/src
/doc/test
/out

# Qt Creator config files
*.user
LibUnknownEcho.config
LibUnknownEcho.creator
LibUnknownEcho.files
LibUnknownEcho.includes

# Commentend until fixed
.travis.yml